body{
  margin: 0px;
  padding: 0px;
}
.div{
  padding: 15px 50px;
  margin: 10px;
  display: inline-block;
  border-style: solid;
  border-width: 5px;
  outline-color: #000;
  outline-width: 5px;
  outline-style: solid;
  background-color: #ccc;
}
#div1{
  border-color: #f00;
}
#div2{
  border-color: #00f #0f0;
}
#div3{
border-style: dashed;
  border-color: #f00 #0f0 #00f #ff0;
}
