/* All */
*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}
/* Task 1 */
.con1{
  width: fit-content;
  height: fit-content;
  background-color: #ddd;
  margin: 60px auto;
  font-size: 30px;
}
@media print {
  .con1 div{
    font-size: 40px;
  }
}
/* Task 2 */
.con2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.con2 div{
  padding: 20px;
  background-color: #ddd;
  width: calc(25% - 10px);
  margin-bottom: 5px;
  text-align: center;
}
.con2 div h2{
  color: #009688;
}
@media (max-width: 992px) {
  .con2 div{
    width: calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .con2 div{
    width: calc(100% - 10px);
  }
}
/* Task 3 */
.con3{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}
.con3 div:first-child{
  grid-column: span 6;
}
.con3 div:nth-child(2){
  grid-column: span 3;
}
.con3 div:nth-child(3){
  grid-column: span 3;
}
.con3 div:last-child{
  grid-column: span 6;
}
.con3 div{
  padding: 20px;
  background-color: #ddd;
  text-align: center;
}
.con3 div h2{
  color: #009688;
}
@media (max-width: 992px) {
  .con3 div h2{
    color: #F94D4D;
  }
  .con3 div:first-child{
    grid-column: span 6;
  }
  .con3 div:nth-child(2){
    grid-column: span 2;
  }
  .con3 div:nth-child(3){
    grid-column: span 2;
  }
  .con3 div:last-child{
    grid-column: span 2;
  }
}
@media (max-width: 768px) {
  .con3 div h2{
    color: #000;
  }
  .con3 div:first-child{
    grid-column: span 6;
  }
  .con3 div:nth-child(2){
    grid-column: span 6;
  }
  .con3 div:nth-child(3){
    grid-column: span 6;
  }
  .con3 div:last-child{
    grid-column: span 6;
  }
}
